<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>jsTree edit</title>
  <link rel="alternate icon" type="image/png" href="https://www.rust-lang.org/static/images/favicon-16x16.png">
  <link rel="alternate icon" type="image/png" href="https://www.rust-lang.org/static/images/favicon-32x32.png">
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
  <!-- 2 load the theme CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
  <!-- 4 include the jQuery library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
  <!-- 5 include the minified jstree source -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
</head>

<body>
  <div style="display: flex;">
    <div style="flex: 0 0 30%; ">
      <!-- 左边内容 -->
      <form id="add_form" name="form" method="post" action="/tag/add">
        <input type="hidden" id="id" name="id" value="0" readonly="readonly" />
        <input type="hidden" id="pid" name="pid" value="0" readonly="readonly" />
        <div id="jstree" style="flex: 1;">
          <!-- in this example the tree is populated from inline HTML -->
          <ul>
            <li id="tree_0">
              Root
              {{ul}}
            </li>
          </ul>
        </div>
        <label for="name">name:</label> <input type="text" id="name" name="name" value="" />
        <input type="submit" value="提交" />
      </form>
    </div>
    <!-- 3 setup a container element -->
    
  </div>
  <script>
    $(function () {
      // 6 create an instance when the DOM is ready
      //$('#jstree').jstree();
      $('#jstree').jstree({
        'plugins': ["wholerow", "checkbox", "types"],
        'checkbox': {
          "three_state": false//父子级不关联选中
        },
        'core': {
          "multiple": false,//单选
          "themes": {
            "responsive": false
          },
        }
      });
      $('#jstree').on('select_node.jstree', function (e, data) {
        var id = data.node.id;
      });
      // 页面加载完，整个树展开
      $('#jstree').bind("ready.jstree", function () {
        $('#jstree').jstree("open_all");
      });

      $('#jstree').on("changed.jstree", function (e, data) {
        // console.log(data.selected);
        var oStr = data.selected + "";
        $("#pid").val(oStr.substr(5));
      });
      $('#jstree').jstree('select_node', 'tree_{{pid}}');
    });
  </script>
</body>

</html>